.address-form__inner {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.address-form__form {
  padding: 20px 50px;
  width: 40vw;
}

.address-form__group {
  margin-top: 20px;
}

.address-form__group:first-of-type {
  margin-top: 0;
}

.address-form__label {
  display: block;
  margin-bottom: 8px;
}

.address-form__input {
  display: block;
  padding: 8px 12px;
  width: 100%;
  height: 48px;
  border: 1px solid;
}

.address-form__btn {
  width: 100%;
  height: 48px;
  margin: 60px auto 0;
}
